@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    width: 100%;
    margin: 0;
    padding: 0 50px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  .nav-hebergements {
    margin: 0;
    padding-top: 1.1rem; /* **22.4px** */
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
  }

  /* *****section filter**** */

  .section-filters {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.125rem; /**18px**/
    font-weight: 700;
    margin-top: 35px;
  }

  /**section hebergements***/

  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 13px;
  }

  /***section populaire***/

  .populaires-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .populaires-cards .card-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /****section activity*****/

  .card-activity {
    height: 270px;
    width: 100%;
  }

  .card-activity img {
    height: 200px;
    width: 100%;
  }

  /* ***footer**** */

  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer .section-footer {
    display: flex;
    justify-content: flex-start;

    text-align: left;
  }

  footer h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
  }

  footer ul {
    list-style-type: none;
    padding: 0;
  }

  footer ul li {
    margin-bottom: 5px;
  }
}
