@media screen and (min-width: 768px) and (max-width: 1024px) {

* {
        font-family: 'Raleway', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.main-container {
        width: 100%;
        margin: 0;
        padding: 0 20px ;
    }

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }

.info {
        margin: 20px 0;
    }
    /***hébergements***/



    /***section populaire***/

.populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px; /***à contrôler***/

    }

.populaires-cards .card-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

      /****section activity*****/


.activies-cards {
     
     display: grid;
     grid-template-columns: (repeat 4, 1fr);
     max-height: 270px;
     min-width: 193.5px;
     gap: 30px;
     grid-auto-rows: 270px;
      }


      /* ***footer**** */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    background: var(--main-bg-color);
}

footer .section-footer {
    text-align: left;
}

footer h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0 20px;
}

footer ul li {
    margin-bottom: 5px;  /** a vérifier***/
}


}





















