@media screen and (min-width: 768px) and (max-width: 1024px) {

* {
        font-family: 'Raleway', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.main-container {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        padding: 20px;
        background: white;
    }

header {
        text-align: start;
    }

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }

.info {
        margin: 20px 0;
    }
    /***hébergements***/

    .hebergements-cards a {
        display: grid;
        grid-template-columns: (repeat 3,1fr);
        grid-template-rows: (repeat 2,1fr);
        gap: 30px;
    }

.card {
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
    }

    /***section populaire***/

.populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px; /***à contrôler***/

    }

.populaires-cards .card-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

      /****section activity*****/


.activies-cards {
        display: grid;
        grid-template-columns: (repeat 4, 1fr);
        max-height: 270px;
        min-width: 193.5px;
        gap: 30px;
        grid-auto-rows: 270px;
      }

.card-activity {
        background: white;
        border-radius: 20px;
        box-shadow:  4px 8px 5px 3px #dad9d9d1;
      }

      .card-activity img {
        width: 100%;
        object-fit: cover;
     
     
      }



footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    background: var(--main-bg-color);
}

footer .section-footer {
    text-align: left;

}

footer h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;;
}

footer ul {
    list-style-type: none;
    padding: 0 20px;
}

footer ul li {
    margin-bottom: 5px;  /** a vérifier***/
}


}





















